
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::before {
    content: "";
    background: url("IMG_0336.jpg") repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    filter: grayscale(30%);
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #000000;
    line-height: 1.6;
  
    
}

header {
    
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    margin: 0;
    color: #007bff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    
    
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    margin: 0;
    color: #ff6347; 
}

h3{
    font-family: 'Montserrat', sans-serif;
    
    color: #007bff; 
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;


}
ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    }

li.nav-item{
    float: left;

}

li.nav-item a{
    display: block;
    color: rgb(79, 77, 240);
    padding: 14px 20px;
    text-decoration: none;
}

#search-form {
    display: flex; /* Utiliza flexbox para los elementos internos */
    margin-top: 12px;
    height: 22px;
    margin-left: 700px;
}
#search-box {
    background-color: #555151;
    border: none;
    color: #fff;
    padding: 0;
    
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding: 20px;
   
  
   
}



article {
    margin-bottom: 30px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
}



